<div class="about-section">
    <h3>About Us</h3>
    <div class="about">
        <img src="/assets/images/binfo img.png" alt="" srcset="">
        <p class="about-content">Business Informatics takes a systematic and analytic approach to aligning
            <span>business intelligence</span>, <span>information science</span>, and <span>computer engineering</span>
            into an <span>engineering science for businesses</span>. The core element of business informatics is a
            methodological approach for describing, explaining, predicting, and designing information and communication
            models, architectures, and systems for the business environment. Business informatics is a discipline
            combining several fields of study, including computer science, information technology, operations research,
            and management systems, to develop a new scientific foundation for business engineering.
        </p>
    </div>
    <div>
        <p>
            
        </p>
    </div>
</div>
